@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-invoice,
  #printable-invoice * {
    visibility: visible;
  }
  #printable-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}
